<div class="w">
    <div class="b">
        <div class="a d"></div>
        <div class="a e"></div>
        <div class="a f"></div>
        <b>Oleksii Lytvyn</b>
    </div>
    <div class="c">
        <script type="text/javascript">
           var a = new Date();
           document.write("Sun Mon Tue Wed Thu Fri Sat".split(" ")[a.getDay()] + " " +
              a.getDate() + "/" + (a.getMonth() + 1) + "/" + a.getFullYear() + " @ " +
              a.getHours() + ":" + a.getMinutes() + ":" + a.getSeconds());
        </script>
        <br/>
        <b>alex@alexlitvin.name$</b> hello<br/>
        Hi, my name is Alex Litvin (Oleksii Lytvyn), <br/>
        I'm Software developer and lead of production in <a href="https://realityoutreach.org.ua/">Reality Outreach
        Ministries</a> Ukraine.<br/>
        <br/>
        Interested in professional concert and television production technologies, equipment and management,
        Photography and Video production.<br/>
        <br/>

        <b>alex@alexlitvin.name$</b> man skills<br/>
        Development:<br/>
        Web development using HTML, CSS (Bootstrap), JavaScript (typescript, jQuery, VUE).<br/>
        Web service development ASP .NET Core (C#, Entity Framework, Azure)<br/>
        Desktop application using Python and Qt<br/>
        <br/>
        Production:<br/>
        Network systems for Audio/Video production (Art-Net, OSC, DMX, Dante).<br/>
        Analog and Digital audio gear (Soundcraft, Behringer/Midas, DBX, Lexicon)<br/>
        Lighting fixtures and protocols (DMX, sACN, Art-Net)<br/>
        <br/>
        Software:<br/>
        Photoshop, Lightroom, Premiere Pro, Reaper, Ableton Live, TouchDesigner, OBS, Resolume, Obsidian Onyx<br/>
        <br/>
        <b>alex@alexlitvin.name$</b> man dev<br/>
        <a href="https://grailapp.com/">grailapp.com</a> - Grail is programmable and configurable lyric software.
        It lets you display songs, bible verses and media, search fast and communicate with other OSC enabled
        software.<br>
        <br>
        <br/>

        <b>alex@alexlitvin.name$</b> man contacts<br/>
        <a href="https://www.youtube.com/channel/UCiuStnopSfjLw7dmWya_uYQ">Watch</a> my work at YouTube<br/>
        <a href="https://unsplash.com/@alexlitvin">@alexlitvin</a> at Unsplash<br/>
        <a href="https://www.facebook.com/oleksii.litvin">@oleksii.litvin</a> as Facebook<br/>
        <a href="https://www.instagram.com/litvin.alex/">@alex.litvin</a> at Instagram<br/>
        Email me at <a href="mailto:programer95@gmail.com">programer95@gmail.com</a>
    </div>
</div>